<html>
<div id="root">

    <div class="jumbotron">
        <h4 ng-bind="app" class="titleOfTheScreen"></h4>
        <br>

        <div>

            <div>
                <br>
                {{cliente}}
                <br><br>
            </div>

            <table class="table table-striped">

                <div id="centerIt">
                    <input type="number" id="centerIt" ng-model="clienteId" placeholder="Id">
                    <a class="btn btnTiny" id="centerIt" ng-click="findClienteById(clienteId)">Encontrar</a>
                        <a class="btn btnTiny" id="centerIt" href="#/clientes/alterarcliente"
                                ng-click="findClienteById(cliente.id)">Alterar</a>
                </div>
                <thead>
                    <tr>
                        <th class="max100">Id</th>
                        <th>Nome</th>
                        <th class="max150">Telefone</th>
                        <th class="max225">E-mail</th>
                        <th class="colunaIcone" id="centerIt">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cliente in clientes">
                        <td class="max100">{{cliente.id}}</td>
                        <td>{{cliente.nome}}</td>
                        <td class="max150">{{cliente.telefone}}</td>
                        <td class="max225">{{cliente.email}}</td>
                        <td class="colunaIcone">

                            <a class="btn btnTiny" id="margin8px" href="#/clientes/alterarcliente"
                                ng-click="findClienteById(cliente.id)">Alterar</a>

                            <button class="btn btnTiny" id="margin8px" ng-click="deleteCliente(cliente.id)">Apagar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <a class="btn" id="redirectBtns" href="#/clientes/inserircliente">Adicionar novo cliente</a>
        </div>


    </div>
</div>

</html>