<div id="root">

    <div class="jumbotron">

        <form id="centerIt">
            <input type="text" ng-model="cliente.nome" placeholder="Nome">
            <input type="text" ng-model="cliente.email" placeholder="Email">
            <input type="text" ng-model="cliente.telefone" placeholder="Telefone">
            <input type="text" ng-model="cliente.endereco" placeholder="Endereço">
        </form>
        <br>
        <button class="btn btnTiny" id="centerIt" ng-click="postCliente(cliente)">Adicionar Cliente</button>
        <a class="btn btnTiny" id="centerIt" href="#/clientes">Voltar</a>

    </div>
</div>